@page
@model ToDoExampleAndy.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";

}

<h2>Products</h2>


    <div class="card-deck">
        @foreach (var product in Model.Products)
        {
            <div class="card">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@product.Price</small>
                </div>
                <div class="card-footer">
                @if (product.Quantity > 0)
                {
                    <a asp-page="/Checkout" asp-route-id="@product.Guid" class="btn btn-primary">Checkout</a>
                }
                else
                {
                    <a class="btn btn-secondary" disabled>Out Of Stock</a>
                }
                </div>
            </div>
        }
    </div>

